@import "fonts.scss";


$blue: #1698D9;
$black: #000000;
$light-grey: #F2F2F2;
$grey: #666666;
$pink: #D91667;
$white: #ffffff;
$yellow: #FFFF66;
$animation: all 0.5s ease;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


h2, h3, h4, p, a, h5 {
  margin: 0;
  padding: 0;
  line-height: 100%;
  text-decoration: none;
  word-wrap: break-word;
}

h2 {
  font-family: 'Exo20-Thin', sans-serif;
  padding: 0 0 0 -3px;
}

h3, h4 {
  font-family: 'TrebuchetMS-Bold', sans-serif;
}

p, a, h5 {
  font-family: 'TrebuchetMS-Regular', sans-serif;
}


body {
  margin: 0;
}


.container {
  width: 100%;
  height: 100%;
  max-width: 1120px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {


  .container {
    max-width: 992px;
    padding: 0 20px;
  }

}

@media screen and (max-width: 768px) {


  .container {
    padding: 0 5px;
  }

}

#important {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;

  .important-background {
    display: block;
    position: absolute;
    background: url("../../assets/img/background.png") repeat;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .important {
    position: relative;
    @include flex-center;
    height: 100%;
    min-height: 100vh;
    padding: 30px 0;
    box-sizing: border-box;
    h2 {
      text-align: center;
      color: $white;
      font-size: 36px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      padding: 24px 0 0 0;
      &-unit {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 320px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        padding: 0 0 30px 0;

        &-wrapper {
          position: relative;
          border-radius: 12px;
          box-sizing: border-box;
          background: linear-gradient(135deg, transparent, transparent 30px, white 30px, white 30px);
          width: 100%;
          max-width: 320px;
          height: 100%;

          &::after, &::before {
            display: block;
            position: absolute;
            content: "";
            top: -4px;
            left: -4px;
            width: calc(100% + 8px);
            height: calc(100% + 8px);
            z-index: -1;
            transition: $animation;
            background: linear-gradient(135deg, transparent, transparent 30px, $blue 20px, $blue 30px);
            border-radius: 12px;
          }

          &.selected {
            &::before {
              opacity: 0;
              background: linear-gradient(135deg, transparent, transparent 30px, $pink 20px, $pink 30px);
            }
          }
        }

        &__body {
          position: relative;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          padding: 21px 62px 305px 50px;
          border-radius: 12px;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          overflow: hidden;

          h5 {
            position: relative;
            z-index: 2;
            font-size: 16px;
            font-weight: 400;
            color: $grey;
            transition: $animation;
          }

          h3 {
            position: relative;
            z-index: 2;
            font-size: 48px;
            line-height: 56px;
            font-weight: 700;
            padding: 5px 0 0 0;
            margin: 0 0 0 -3px
          }

          h4 {
            position: relative;
            z-index: 2;
            font-size: 24px;
            line-height: 28px;
          }

          p {
            position: relative;
            z-index: 2;
            font-size: 16px;
            font-weight: 400;
            color: $grey;

            span {
              padding: 15px 0 0 0;
              display: block;
            }
          }

          &-weight {
            position: absolute;
            z-index: 3;
            right: 12px;
            bottom: 12px;
            width: 80px;
            height: 80px;
            background: $blue;
            border-radius: 50%;
            transition: $animation;
            @include flex-center;

            p {
              position: absolute;
              top: 17px;
              left: 50%;
              transform: translateX(-50%);
              text-align: center;
              font-size: 42px;
              line-height: 30px;
              color: $white;

              span {
                font-size: 21px;
                padding: 0;
              }
            }
          }

          img {
            position: absolute;
            z-index: 2;
            left: -28px;
            bottom: -93px;
          }
        }

        &__description {
          position: absolute;
          bottom: 0;
          font-size: 13px;
          padding: 14px 0 0 0;
          color: $white;
          transition: $animation;
          opacity: 1;

          a {
            color: $blue;
            position: relative;

            &::before {
              position: absolute;
              content: '';
              border: 1px dashed $blue;
              width: 83%;
              bottom: -1px;
              left: 0;
            }
          }

          &.ended, &.selected {
            z-index: -1;
            opacity: 0;
          }
        }

        &.active {
          .important__list-unit-wrapper {
            &::after {
              opacity: 0;
            }

            &.selected {
              &::before {
                opacity: 1;
              }
            }
          }

          .important__list-unit__body {
            &-weight {
              background: $pink;
            }
          }

          .important__list-unit__description {
            opacity: 0;

            &.selected {
              z-index: 1;
              opacity: 1;
            }
          }

          &:hover {
            .important__list-unit__body {
              h5 {
                color: $pink;
              }
            }
          }
        }

        &.disabled {
          pointer-events: none;

          .important__list-unit-wrapper {
            background: linear-gradient(135deg, transparent, transparent 30px, $light-grey 30px, $light-grey 30px);

            &::after {
              background: linear-gradient(135deg, transparent, transparent 30px, #B3B3B3 20px, #B3B3B3 30px);
            }
          }

          .important__list-unit__body {
            h5, h3, h4, p {
              color: #B3B3B3;
            }

            &-weight {
              background: #B3B3B3;

              p {
                color: $white;
              }
            }

            img {
              opacity: 0.6;
            }
          }

          .important__list-unit__description {
            opacity: 0;

            &.ended {
              z-index: 1;
              opacity: 1;
              color: $yellow;

              a {
                color: $yellow;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {

  #important {
    .important {
      &__list {
        &-unit {
          max-width: unset;

          &:nth-child(1) {
            width: 100%;
          }

          &:nth-child(2), &:nth-child(3) {
            margin: 40px 0 0;
            width: 50%;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {

  #important {
    .important {
      &__list {
        &-unit {
          &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            width: calc(100% - 10px);
            margin: 30px auto 0 auto;
          }
        }
      }
    }
  }

}

